<!DOCTYPE html>
<html lang="en">
 <%- include('partials/head.ejs')  %> 
<body>
 <%- include('partials/header.ejs')  %> 
    <main class="container">
        <h3>Listado de PRODUCTOS</h3>
        <div class="row">

          <% productos.forEach(producto => { %>
            <div class="card col-sm-12 col-md-4 col-lg-3 mb-1" >
                <img src="/images/<%- producto.imagen %>" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title"><%- producto.producto %> </h5>
                  <p class="card-text"><%- producto.modelo %></p>
                  <p class="card-text"><%- producto.color %></p>
                  <p class="card-text"><%- producto.precio %></p>
                  <a href="/producto/<%- producto.id %>" class="btn btn-primary">Ver más</a>
                </div>
              </div>
        <% }) %>

        </div>
    </main>





 <%- include('partials/footer.ejs')  %> 
 <%- include('partials/scripts.ejs')  %> 
</body>
</html>